body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}
*{
   

}

html {
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 30px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

.logo img {
    max-width: 100px;
    vertical-align: middle;
}

nav {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: green;
}

main {
    display: flex; 
    /*  Flexbox para manter as colunas alinhadas e com a mesma altura */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: calc(100vh - 150px);
     /* Ocupa a tela toda menos header e footer */
    align-items: stretch; 
}

.services {
    flex: 3; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.categories {
    flex: 1; 
    padding: 20px;
    background-color: #444;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: -21px;
    margin-right: -20px;
    margin-top: -20px;
    margin-left: -20px;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories ul li {
    margin: 50px 0;
}

.categories ul li a {
    color: lightblue;
    text-decoration: none;
}

.categories ul li a:hover {
    color: white;
}


footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: lightblue;
    text-decoration: none;
}

footer ul li a:hover {
    color: green;
}
